@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;  
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
    display: grid;
    place-items: center;
    justify-content: space-evenly;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

/*  

NAVBAR

*/

nav {
    padding-top: 32px;
    display: flex;    
}

.nav__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    margin-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    margin: 0 24px;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: rgb(80, 17, 204);
    color: white;
}

.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;    
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300sm ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}

/* 

HEADER / ABOUT US 

*/

.header__container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__img--wrapper {
    width: 60%;
}

img {
    width: 100%;
}

.header__description {
    width: 40%;        
}

h1 {
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
}

.header__description--para {
    margin: 32px 0;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6;
}

.header__customers {
    margin-top: 16px;
    padding-right: 128px;
    opacity: 0.5;
}

.header__email--btn {
    width: 160px;
    height: 51.99px;
    font-size: 16px;
    background: #6415ff;
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms 
ease;
}

.header__email--input {
    width: 100%;
    max-width: 448px;
    height: 67.99px;
    background: #ffffff;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 225);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--input:hover {
    border-color: rgba(160, 174, 192);
}

.header__email--input:focus, header__email--input:active {
    outline: none;
    border-color: rgba(100, 21, 255);
}

.header__email {
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 

FEATURES 

*/

#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;}


.section__tag {
    width: 95.53px;
    height: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    width: 678.52px;
    height: 71.99px;
    font-size: 48px;
    margin-top: 5px;
    text-align: center;    
}

#features .section__title, #pricing .section__title {
    text-align: center;
}

#features .section__para {
    text-align: center;
    color: #7c8ba1;
    height: 60px;
    font-size: 20px;
    max-width: 576px;
    margin-top: 10px;
    margin-bottom: 18px;
}

.feature__para {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    margin: 16px 0 0;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
    text-align: center;
}

.feature {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    flex-direction: row;    
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__label {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.feature__container {
    width: 100%;
    max-width: 900px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 30px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;    
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;       
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 8px;
    border: 1px solid #efa7eb;
    border-radius: 500px;
    overflow: hidden;
    display: flex;
}

.feature__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__bravo {    
    display: flex;
   justify-content: end;
   flex-wrap: wrap-reverse;
   align-items: center;
}


/* QUALITY */

#quality .container {
    padding: 96px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#quality .section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

.section__para {    
    margin: 50px 0;
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.quality__description,
.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    z-index: 1;
}

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

